body {
    margin: 0 auto;
    box-sizing: border-box;
}
.wrap {
    /*
    width: 1152px;
    */
    width: 100%;
}
table {
    width: 100%;
}

/*header*/

.header {
    position: relative;
}
.header-left-bg {
    background: url("../img/header/header-repeat-x.png") repeat-x;
}
.header-right-bg {
    background: url("../img/header/header-right-bg.png") no-repeat right;
    height: 49px;
}
h1,.header-h2,div.after-login {
    display: inline-block;
}
.h1 {
    text-decoration: none;
    color: #ffffff;
    font: 16px lighter;
    line-height: 46px;
    letter-spacing: -2.5px;
    padding-left: 45px;
    vertical-align: middle;
}
.header-h2 {
    color: #b9c4d5;
    font: 12px lighter;
    vertical-align: middle;
    padding-left: 2px;
}
div.header-right {
    position: absolute;
    right: 0;
}
div.after-login {
    
}
p.after-login-text {
    background: #ffdc7e left;
    width: 3px;
    height: 3px;
    color: #cacbcb;
    font-size: 12px;
    line-height: 0;
    white-space: nowrap;
    vertical-align: middle;
    position: absolute;
    bottom: 23px;
    right: 419px;
}
strong.login-id {
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 1px;
    padding-left: 6px;
}
ul.header-list {
    position: absolute;
    right: 82px;
    bottom: 18px;
    white-space: nowrap;
}
ul.header-list>li {
    display: inline-block;
}
ul.header-list>li:not(:first-child)>a {
    background: url("../img/header/header-list-bar.png") no-repeat 0;
}
ul.header-list>li>a {
    text-decoration: none;
    font-size: 12px;
    color: #adc1d5;
    padding: 0 9px;
    letter-spacing: -1px;
}
button.logout-button {
    border: none;
    background: none;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
button.logout-button>img {
    position: relative;
}
button.logout-button>span {
    white-space: nowrap;
    font-size: 10px;
    color: #ffffff;
    position: absolute;
    right: 10px;
    top: 5px;
}